<br><br><br><br>
<footer class="container text-center foot">
        <div class="copyrights">
            <p class="white-txt">Created by Will Stearn ~ For General Assembley 2018
                <br><br>
                <img class="footimg" src="http://www.eatlogos.com/Entertainment_logos/png/vector_music_icon_logo.png" style="width:100px">
            </p>
            <hr class="dark-line">
            <a class="link" href="/contact">Contact Us</a>&nbsp
            <a class="link" href="/privacy">Privacy Policy</a>&nbsp
            <a class="link" href="/term">Terms & Conditions</a>
            <br><br>
            <p class="white-txt small">
               develop by will strean just to learn node.js
            </p>
        </div>
</footer>